@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* li{
    display: inline-block;
    margin: 0 25px;
}
a{
    text-decoration: none;
}
nav ul{
    background-color: #f23333;
    padding: 17px;
}
nav a{
    color: white;
}
.banner{
    text-align: center;
} */

/* Font Declaration */

/* Common Stylings */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

h1,
h3,
li a,
button {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
}

a, button {
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
}

/* Header Styling */
header {
    background-color: #f44336;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    margin-left: -3px;
}

nav ul li a {
    background-color: #f44336;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    padding: 12px 24px;
    transition: .2s ease-in-out;
}

nav ul li:first-child {
    margin: 0;
}
nav ul li a:hover,
.active {
    background-color: #fff;
    color: #000;
}

/* Banner Section Styling */
.banner {
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding: 144px 0 128px;
}

h1 {
    font-size: 64px;
    font-weight: 400;
}

.banner  p {
    font-size: 24px;
    margin-top: 24px;
}

.banner button {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 14px 24px;
    margin-top: 40px;
    border: none;
    vertical-align: top;
    /* border: 1px solid transparent; */
}
.banner button:hover {
    background-color: #ccc;
    color: #000;
}   
/* Anchor & Cup Section Stylings */
.anchor-section .wrapper,
.cup-section .wrapper {
    width: 64.5%;
    margin: 0 auto;
}
.anchor-details,
.anchor-img,
.cup-details,
.cup-img {
    display: inline-block;
}
.anchor-details,
.cup-details {
    width: 66%;
}
.anchor-img,
.cup-img {
    width: 33%;
}
.anchor-details h3,
.cup-details h3 {
    font-size: 36px;
    padding-top: 74px;
}
.anchor-details p,
.cup-details p {
    color: #757575;
    font-size: 15px;
    margin-top: 47px;
    margin-bottom: 79px;
}
.anchor-details h3 + p,
.cup-details h3 + p {
    color: #000;;
    margin-top: 42px;
    font-size: 18px;
    margin-bottom: 0;
}

.cup-section {
    background-color: #f1f1f1;
}
/* Quote of the Day Section */
.quote-section h3 {
    background-color: #000;
    color: #fff;
    font-size: 24px;
    text-align: center;
    opacity: 0.60;
    padding: 80px 0;
}